.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-footer {
  background-color: $background-grey;
}
