.page-main__image {
  padding-bottom: 20px;
}

.page-main__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.page-main__image-section {
  margin-top: -135px;
}

.page-main__button {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
}

@media (min-width: 768px) {

  .page-main__image {
    position: relative;
  }

  .page-main__image-section {
    margin-top: -70px;
  }

  .page-main__button {
    position: absolute;
    width: 242px;
    left: 100px;
    top: -50px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
  }
}
