.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__image {
  padding: 12px 0;
}

.page-header__logo {
  text-decoration: none;
}

.page-header__logo--image {
  padding-right: 14px;
}

@media (min-width: 768px) {

  .page-header {
    padding-top: 25px;
  }

  .page-header__image {
    padding: 0;
  }
}

@media (min-width: 1440px) {

  .page-header {
    padding-top: 55px;
  }
}
