.page-header__link {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 14px;
}

.page-header__logo {
  text-decoration: none;
}

.page-header__logo--image {
  padding-right: 14px;
}
