.page__main-text {
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Lato", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 350px;
}
